.main-page {
  color: #335576;
  list-style: none;
  font-weight: bold;
  font-size: 20px;
}

.main-page-list {
  display: inline-block;
  margin-left: 70%;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  color: black;
}

.main-background {
  background-color: #ffffff;
}

.main-background-pic {
  background-color: #fefaf5;
}

.info-page {
  color: #335576;
  display: flex;
  justify-content: space-between;
}
.info-page--details {
  color: #db7a4e;
  font-size: 10px;
}

.travel-site-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}
.home-decoration {
  text-decoration: underline;
}
.time {
  display: flex;
  flex-direction: column;
  padding-right: 60px;
}

.time-weekend {
  display: flex;
  flex-direction: column;
  padding-right: 60px;
  justify-content: flex-end;
}

.time-sunday {
  display: flex;
  flex-direction: column;

  justify-content: flex-end;
}
